*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,html{
    width: 100%;
    height: 100%;
}

a{ text-decoration: none;}
 ul li {
    list-style: none;
    list-style-position: inside;

}

.wrap{
    width: 100%;
    display: flex;
}

#sidebar{
    width: 250px;
    min-height: 100vh;
    background-color: white;
    transition: all 0.3s;
    box-shadow: 1px 10px 5px grey;
    overflow-x: hidden;
    position: fixed;
}

#sidebar.active{
    margin-left: -250px;
}



#site-content{
    width:100%;
    min-height: 100vh;
    transition:  all 0.3s;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 240px;
    padding: 0px 10px
    

    
}

#site-content.active{
    width: 100%;
}

/*
##################
### NAV TOPO  ####
##################
*/
.navbar-top{
    width: 102%;
    height: 60px;
    background-color:rgb(250, 207, 207);;
    color: #000;
    z-index: 999;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.nav_top_box1 a{
    color: rgb(95, 94, 92);
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 1rem;
    transition: all .3s;
}
.nav_top_box1 a:hover{
    padding-left: 2rem;
    background-color: rgb(250, 207, 207);
}
.btn{
    font-size: 2rem;
    cursor: pointer;
}


.navtop ul li{
    display: inline-block;
    padding: 20px;
    font-size: 1rem;
   
}
.box_content_site{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    
}
.box_content_site p{
    margin: 1rem;
}

/*
##################
### SIDEBAR NAV ##
##################
*/


.sidebar-content ul{
    width: 100%;
}
.sidebar-content ul li a:first-child{
    border-top: 1px solid gray
}
.sidebar-content ul li a{
    width: 100%;
    display: block;
    padding: 1rem 1rem 1rem 2rem;
    color:black;
    box-shadow: 1px 3px 7px grey; 
    transition: all .3s;
    height: 45px;
}
.sidebar-content ul li a:hover{
    padding-left: 4rem;
    border-left: 4px solid orange;
}
.sidebar_user,.sidebar_user_name{
    position: relative;
}

.sidebar_user img{
width: 220px;
margin-top: 2cm;
}
.sidebar_user_name p{
    position: absolute;
    top:150px;
    left:26%;
    color:#fff;
    font-size:1.5rem;
}
.btn_close_sidebar{
    width: 95%;
    height: 100px;
    color:#fff;
    height: 60px;
    margin: 5px;
    font-size: 1.8rem;
    border-radius: 6px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
###############
### FOOTER ####
###############
*/
.footer0{
    margin-left: 20px;
    align-content: space-between;
    display:flex
    
}
 
.footer h1{
    font-size: 4rem;
    margin-left:22px;
}
footer p{
    font-size: 1.5rem;
    color: lawngreen;

}

.footer2 p{
    margin-top: 10px;
    margin-left: 30px;
margin-top: 30px;
}




/*
##################
### RESPOSIVE ####
##################
*/
@media (max-width:1024px){
    #sidebar{
        margin-left: -250px;
    }
    #sidebar.active{
        margin-left: 0;
    }
    #site-content{
        width: 100%;
    }
    #site-content.active{
        width: calc(100% - 250px);
    }
}
select{
    width: 107px;
    height: 33px;
      background-color:  transparent;
      border-radius: 5px;
      text-align: center;
}
#imagemav{
    border-radius: 50%;
    width: 30px
}
.icon{
    margin: 10px;
}
a:hover {
    background-color: rosybrown;
  }
  .card1{
      color: orange;
      margin-top:  1cm;
      display: flex;
      justify-content: space-around;
  }
  .card1iconebtn1{
      background-color: orange;
      border:orangered;
      border-radius: 5px;
      height: 38px;
      width: 151px;
      color: white;
      margin-left: 150px
  }
  .card1iconebtn2{
    background-color: orange;
    border:orangered;
    border-radius: 5px;
    height: 38px;
    width: 50px;
    color: white;
  }
  img{
      width: 70%;
      height: 80%px;
  }
  .cardi2{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
  }

.card {
    
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    margin-right: 1rem;
    width: calc(27% - 1rem);
    border: solid whitesmoke;
    border-radius: 5px;
    
}

.card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}
.card___titulo {
    color: #333333;
    font-size: 1.5rem;
    border-bottom: solid whitesmoke;
    align-items: flex-start;
     
    padding: .6rem;
    text-align: center;
    width: 100%;
}
.card___descricao {
    color: #333333;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
}
.titulosidbar{
    color: white;
    font-size: 2rem;
    align-items: flex-start;
    padding: .6rem;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: rgb(243, 158, 0);
}
.cardmain2{
    border: solid whitesmoke; 
    border-radius: 5px;
    width:100%;
    
}
.titulocard2{
    color:#333333;;
    font-size: 0.9rem;
    align-items: flex-start;
    padding: .6rem;
    text-align: justify;
    width: 100%;
    height: 40px;
    background-color: rosybrown ;
  
}
.titulocard3{
    color:#333333;;
    font-size: 0.9rem;
    align-items: flex-start;
    padding: .6rem;
    text-align: justify;
    width: 100%;
    height: 40px;
    background-color: rosybrown ;
  
}
.cardmain3{
    border: solid whitesmoke; 
    border-radius: 5px;
    width:100%;
  

    }
    .textocard3{
        text-align: center;
        justify-content: center;
        
    }
    .textocard3 h3{
        color: orange;



    }
     .card1iconebtn3{
      background-color: orange;
      border:orangered;
      border-radius: 5px;
      height: 38px;
      width: 151px;
      color: white;
      
     
  }
 .cardmain4{
    box-shadow: 0px 0px 5px 1px grey;
    border-radius: 3px;
    width: 96%;
    justify-content: center;
    margin-left: 2%;
    margin-top: 10px;
  }
  .titulocard4{
      margin-left: 19px;  
  }
  .titulocard4 h4{
      color: orange;

  }
  .card1iconebtn4{
    background-color: orange;
    border: orangered;
    border-radius: 2px;
    height: 20px;
    width: 32px;
    color: white;
    margin-bottom: 9px;
    box-shadow: 0px 0px 5px 0px grey;
  }
  #icone4{
      margin-left: 15px;
      color: orange;
  }
  .card1iconebtn5{
    background-color: violet;
    border: violet;
    border-radius: 4px;
    height: 38px;
    width: 230px;
    color: white
}